<h1>Minhas receitas favoritas</h1>

<% if @recipes.any? %>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-6">
        <%= render partial: 'shared/recipe_card', locals: {recipe: recipe} %>
      </div>
    <% end %>
  </div>
<% end %>
