<% if @recipe_type.errors.any? %>
  <% @recipe_type.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= simple_form_for(@recipe_type) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>
